<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center justify-content-between">
    <div class="flex align-items-center justify-content-center">
      <span class="font-semibold text-base text-600">Experiencia</span>
    </div>
    <div class="flex align-items-center justify-content-center">
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        class="p-button-rounded p-button-secondary p-button-text p-button-sm"
        (click)="openNewWorkExperienceDialog()"
      ></button>
    </div>
  </div>
  <div
    class="w-12 flex align-items-center surface-hover border-round-md p-1 mx-0 sm:mx-3 my-1"
    *ngFor="let item of workExp"
  >
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <p-avatar
        image="./assets/users/no-images.jpeg"
        size="large"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="w-8 p-1 flex align-items-center justify-content-center">
      <div class="flex flex-column gap-2 w-full">
        <div class="flex align-items-center font-semibold text-base text-800">
          {{ item.firm }}
        </div>
        <div class="flex align-items-center text-500 text-sm font-normal">
          {{ item.jobTitle }}
          {{ item.intialDate | extractYear }} -
          {{ item.finalDate | extractYear }}
          {{ expYear(item.intialDate, item.finalDate) }}
          años
        </div>
      </div>
    </div>
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <div
        class="flex align-items-center justify-content-center h-4rem border-round"
      >
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-secondary p-button-text"
          (click)="openEditWorkExperienceDialog(item.idWorkExperience)"
        ></button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newWorkExperienceDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega una nueva experiencia
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Describe y agrega tu nueva experiencia laboral.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      [formGroup]="newExpForm"
      autocomplete="off"
      (ngSubmit)="onSveNewExp()"
    >
      <div class="w-12 flex flex-column justify-content-start">
        <label
          for="company"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Empresa</label
        >
        <input
          pInputText
          placeholder="Nombre de la empresa"
          class="w-full"
          formControlName="company"
        />
        <small
          id="company"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('company') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start py-2">
        <p-checkbox
          [binary]="true"
          inputId="hFractal"
          label="Aquí en Fractal"
          formControlName="hFractal"
          (onChange)="onCheckFractal()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-column justify-content-start">
        <label
          for="inputJob"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Puesto</label
        >
        <input
          pInputText
          placeholder="Puesto en la empresa"
          class="w-full"
          formControlName="job"
        />
        <small
          id="inputJob"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('job') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-wrap align-items-center pt-2">
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pr-3">
          <div class="w-12 flex flex-column align-content-start mb-2">
            <label
              for="eDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes de inicio</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              view="month"
              inputId="sDate"
              appendTo="body"
              formControlName="sDate"
              [readonlyInput]="true"
            ></p-calendar>
            <small
              id="eDate"
              class="hidden"
              [ngClass]="{ 'p-error block text-left': isValidField('sDate') }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pl-3">
          <div class="w-12 flex flex-column align-content-start mb-2">
            <label
              for="eDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes fin</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              view="month"
              inputId="eDate"
              appendTo="body"
              formControlName="eDate"
              [readonlyInput]="true"
            ></p-calendar>
            <small
              id="eDate"
              class="hidden"
              [ngClass]="{ 'p-error block text-left': isValidField('eDate') }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
      </div>
      <div class="w-12 flex flex-column justify-content-start py-2">
        <p-checkbox
          [binary]="true"
          inputId="tPresent"
          label="Hasta la actualidad"
          formControlName="tPresent"
          (onChange)="onCheckCurrDate()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideNewWorkExperienceDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Agregar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="editWorkExperienceDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Edita tu experiencia
      </span>
      <button
        class="text-red-300 hover:text-red-500 mx-1 cursor-pointer border-none bg-white"
        (click)="confirm()"
      >
        <i class="pi pi-trash text-lg hover:text-xl"></i>
      </button>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        La vida esta llena de cambios. Edita tu experiencia laboral.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      [formGroup]="editExpForm"
      autocomplete="off"
      (ngSubmit)="onSveEditedExp()"
    >
      <div class="w-12 flex flex-column justify-content-start">
        <label
          for="editCompany"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Empresa</label
        >
        <input
          pInputText
          placeholder="Nombre de la empresa"
          class="w-full"
          formControlName="editCompany"
        />
        <small
          id="editCompany"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidEditField('editCompany')
          }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start py-2">
        <p-checkbox
          [binary]="true"
          inputId="hFractal"
          label="Aquí en Fractal"
          formControlName="hFractal"
          (onChange)="onEdtCheckFractal()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-column justify-content-start">
        <label
          for="editJob"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Puesto</label
        >
        <input
          pInputText
          placeholder="Puesto en la empresa"
          class="w-full"
          formControlName="editJob"
        />
        <small
          id="editJob"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidEditField('editJob') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-wrap align-items-center pt-2">
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pr-3">
          <div class="w-12 flex flex-column align-content-start mb-2">
            <label
              for="editDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes de inicio</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              view="month"
              inputId="dateformat"
              appendTo="body"
              formControlName="editDate"
            ></p-calendar>
            <small
              id="editDate"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidEditField('editDate')
              }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pl-3">
          <div class="w-12 flex flex-column align-content-start mb-2">
            <label
              for="editEndDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes fin</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              view="month"
              inputId="dateformat"
              appendTo="body"
              formControlName="editEndDate"
            ></p-calendar>
            <small
              id="editEndDate"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidEditField('editEndDate')
              }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
      </div>
      <div class="w-12 flex flex-column justify-content-start">
        <p-checkbox
          [binary]="true"
          inputId="tPresent"
          label="Hasta la actualidad"
          formControlName="tPresent"
          (onChange)="onEdtCheckCurrDate()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideEditWorkExperienceDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-confirmDialog #exp>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      class="p-button-outlined p-button-secondary"
      (click)="exp.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="exp.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
