<div class="py-2 px-2 lg:px-4 xl:px-7 flex align-items-center shadow-none">
  <div class="flex flex-wrap border-round w-full">
    <div
      class="w-12 sm:w-4 py-1 px-2 flex align-items-center justify-content-center sm:justify-content-start"
    >
      <p-button
        label="Nuevo Talento"
        icon="pi pi-plus"
        styleClass="p-button-sm p-button-outlined p-button-info"
        (click)="onNewTalent()"
        *ngIf="isRecruiter"
      ></p-button>
      <span class="text-left text-sm text-500" *ngIf="!isRecruiter">{{
        totalMsg
      }}</span>
    </div>
    <div
      class="w-12 sm:w-8 py-1 px-2 flex flex-wrap align-items-center sm:justify-content-evenly"
    >
      <div
        class="w-6 sm:w-2 xl:w-2 flex align-items-center justify-content-start sm:justify-content-center p-1"
      >
        <p-overlayPanel #techSkills [style]="{ width: '350px' }">
          <ng-template pTemplate>
            <p-chips
              [(ngModel)]="selectedTechSks"
              [allowDuplicate]="false"
            ></p-chips>
            <p-scrollPanel [style]="{ width: '100%', height: '300px' }">
              <div class="field-checkbox m-0 p-1" *ngFor="let skill of skills">
                <p-checkbox
                  name="groupSk"
                  [value]="skill.name"
                  [(ngModel)]="selectedTechSks"
                  [inputId]="skill.name"
                ></p-checkbox>
                <label [for]="skill.name">{{ skill.name }}</label>
              </div>
            </p-scrollPanel>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Habilidades"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="isSkillsListEmpty ? null : techSkills.toggle($event)"
          [disabled]="isSkillsListEmpty"
        ></p-button>
      </div>

      <div
        class="w-6 sm:w-2 xl:w-2 flex align-items-center justify-content-center p-1"
      >
        <p-overlayPanel #proficiencyOP [style]="{ width: '180px' }">
          <ng-template pTemplate>
            <p-listbox
              [options]="proficiency"
              optionLabel="name"
              optionValue="id"
              [(ngModel)]="selectedIdProficiency"
              styleClass="border-none"
            ></p-listbox>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Nivel de inglés"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="isProficiencyListEmpty ? null : proficiencyOP.toggle($event)"
          [disabled]="isProficiencyListEmpty"
        ></p-button>
      </div>

      <div
        class="w-12 sm:w-2 xl:w-2 flex align-items-center justify-content-center p-1"
      >
        <p-overlayPanel #favorite [style]="{ width: '180px' }">
          <ng-template pTemplate>
            <p-listbox
              [options]="favorites"
              optionLabel="listName"
              optionValue="idListUser"
              [(ngModel)]="selectedIdFavorite"
              styleClass="border-none"
            ></p-listbox>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Favoritos"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="isFavoriteListEmpty ? null : favorite.toggle($event)"
          [disabled]="isFavoriteListEmpty"
        ></p-button>
      </div>

      <div
        class="w-8 sm:w-4 xl:w-5 flex align-items-center justify-content-center p-1"
      >
        <span class="p-input-icon-left w-full xl:w-9">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Buscar talento o puesto"
            [(ngModel)]="term"
            class="p-inputtext-sm"
          />
        </span>
      </div>

      <div
        class="w-4 sm:w-2 xl:w-1 flex align-items-center justify-content-center p-1"
      >
        <p-button
          label="Buscar"
          styleClass="p-button-sm p-button-success w-full"
          class="w-full"
          (onClick)="emitFilter()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
