<div class="py-2 px-2 lg:px-4 xl:px-7 flex align-items-center shadow-none">
  <div class="flex flex-wrap border-round w-full">
    <div
      class="w-12 sm:w-4 py-1 px-2 flex align-items-center justify-content-center sm:justify-content-start"
    >
      <div
        class="w-4 flex align-items-center justify-content-start p-1"
        *ngIf="isRecruiter"
      >
        <p-button
          label="Nuevo Talento"
          icon="pi pi-plus"
          styleClass="p-button-sm p-button-outlined p-button-info"
          (click)="onNewTalent()"
        ></p-button>
      </div>
      <div class="w-8 flex align-items-center justify-content-start p-1">
        <span class="text-left text-sm text-500" *ngIf="total != 0">{{
          totalMsg
        }}</span>
      </div>
    </div>
    <div
      class="w-12 sm:w-8 py-1 px-2 flex flex-wrap align-items-center sm:justify-content-evenly"
    >
      <div
        class="w-6 sm:w-2 xl:w-2 flex align-items-center justify-content-start sm:justify-content-center p-1"
      >
        <p-overlayPanel #techSkills [style]="{ width: '350px' }">
          <ng-template pTemplate>
            <p-chips
              [(ngModel)]="selectedTechSks"
              [allowDuplicate]="false"
            ></p-chips>
            <p-scrollPanel [style]="{ width: '100%', height: '300px' }">
              <div class="field-checkbox m-0 p-1" *ngFor="let skill of skills">
                <p-checkbox
                  name="groupSk"
                  [value]="skill.name"
                  [(ngModel)]="selectedTechSks"
                  [inputId]="skill.name"
                ></p-checkbox>
                <label [for]="skill.name">{{ skill.name }}</label>
              </div>
            </p-scrollPanel>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Habilidades"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="handleTechBtnClick($event)"
        ></p-button>
      </div>

      <div
        class="w-6 sm:w-2 xl:w-2 flex align-items-center justify-content-center p-1"
      >
        <p-overlayPanel #proficiencyOP [style]="{ width: '200px' }">
          <ng-template pTemplate>
            <button
              *ngFor="let item of proficiency"
              class="flex align-items-center justify-content-center cursor-pointer h-3rem w-full mb-1 border-none border-round-md bg-white hover:surface-hover"
              [ngClass]="{
                'border-primary border-2 bg-indigo-50':
                  item.id === selectedIdProficiency
              }"
              (dblclick)="deselectFavorite(item.id)"
            >
              <div class="w-full flex align-items-center justify-content-start">
                <label [for]="item.name" class="ml-1 text-base">{{
                  item.name
                }}</label>
              </div>
              <div
                class="w-full flex align-items-center justify-content-end mr-1"
              >
                <p-radioButton
                  [inputId]="item.name"
                  name="proficiency"
                  [value]="item.id"
                  [(ngModel)]="selectedIdProficiency"
                ></p-radioButton>
              </div>
            </button>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Nivel de inglés"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="handleProficiencyBtnClick($event)"
        ></p-button>
      </div>

      <div
        class="w-12 sm:w-2 xl:w-2 flex align-items-center justify-content-center p-1"
      >
        <p-overlayPanel #favorite [style]="{ width: '250px' }">
          <ng-template pTemplate>
            <p-scrollPanel [style]="{ width: '100%', height: '200px' }">
              <button
                *ngFor="let item of favorites"
                class="flex align-items-center justify-content-center cursor-pointer h-3rem w-full mb-1 border-none border-round-md bg-white hover:surface-hover"
                [ngClass]="{
                  'border-primary border-2 bg-indigo-50':
                    item.idListUser === selectedFavoriteId
                }"
                (dblclick)="deselectFavorite(item.idListUser)"
              >
                <div
                  class="w-full flex align-items-center justify-content-start"
                >
                  <label [for]="item.listName" class="ml-1 text-base">{{
                    item.listName
                  }}</label>
                </div>
                <div
                  class="w-full flex align-items-center justify-content-end mr-1"
                >
                  <p-radioButton
                    [inputId]="item.listName"
                    name="fav"
                    [value]="item.idListUser"
                    [(ngModel)]="selectedFavoriteId"
                  ></p-radioButton>
                </div>
              </button>
            </p-scrollPanel>
          </ng-template>
        </p-overlayPanel>

        <p-button
          label="Favoritos"
          styleClass="p-button-sm p-button-rounded p-button-secondary"
          (click)="handleFavoriteBtnClick($event)"
        ></p-button>
      </div>

      <div
        class="w-8 sm:w-4 xl:w-5 flex align-items-center justify-content-center p-1"
      >
        <span class="p-input-icon-left w-full xl:w-9">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Buscar talento o puesto"
            [(ngModel)]="term"
            class="p-inputtext-sm"
          />
        </span>
      </div>

      <div
        class="w-4 sm:w-2 xl:w-1 flex align-items-center justify-content-center p-1"
      >
        <p-button
          label="Buscar"
          styleClass="p-button-sm p-button-success w-full"
          class="w-full"
          (onClick)="emitFilter()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
