.content {
  height: calc(100vh - 180px);
}

:host ::ng-deep {
  $chip-font-size: 0.875rem;
  .p-chip {
    &.custom-chip {
      background: var(--blue-50);
      color: var(--blue-600);
    }

    &.custom-red-chip {
      background: var(--pink-50);
      color: var(--pink-500);
    }

    &-text {
      font-size: $chip-font-size;
    }
  }
  $primary-color: #009695;
  $primary-hover-color: #007d7c;
  $text-color: #ffffff;
  $border-color: $primary-color;

  .p-button,
  .p-buttonset > .p-button,
  .p-splitbutton > .p-button {
    &.p-button-success {
      color: $text-color;
      background: $primary-color;
      border: 1px solid $border-color;

      &:enabled:hover {
        background: $primary-hover-color;
        border-color: $primary-hover-color;
      }
    }
  }
  .p-rating .p-rating-icon {
    color: #faab34;
  }

  .p-rating .p-rating-icon.pi-star-fill {
    color: #faab34;
  }

  .p-rating .p-rating-icon.p-rating-cancel {
    color: #ef4444;
  }
}

$primary-color: #009695;
$primary-hover-color: #007d7c;
$text-color: #ffffff;
$border-color: $primary-color;

.p-button {
  color: $text-color;
  background: $primary-color;
  border: 1px solid $border-color;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  transition: none;

  &:enabled:hover {
    background: $primary-hover-color;
    border-color: $primary-hover-color;
  }

  &:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $primary-color,
      0 1px 2px 0 rgba(0, 0, 0, 0);
  }
}
