.heart-icon {
  color: #c11574;
}
:host ::ng-deep .p-card-content {
  padding-top: 2px;
}
.contact-icon {
  color: #98a2b3;
}
.custom-cursor {
  cursor: pointer;
}
.profile-role,
.profile-info,
.profile-feedbacks,
.profile-country-salary {
  color: #798294;
}
