<shared-control-panel
  (onFilterReqVal)="filterTalent($event)"
></shared-control-panel>

<div
  class="bg-white py-0 px-2 lg:px-4 xl:px-7 shadow-none content"
  *ngIf="isListEmpty"
>
  <div class="flex flex-wrap border-round w-full">
    <div
      class="content w-12 sm:w-4 font-bold py-1 px-2 flex justify-content-center"
    >
      <div class="w-full list__container">
        <p-scrollPanel
          [style]="{ width: '100%', height: 'calc(100vh - 262px)' }"
        >
          <shared-pers-prof-crd
            [talents]="talents"
            [selId]="selId"
            (talentId)="searchByTalentId($event)"
          ></shared-pers-prof-crd>
        </p-scrollPanel>
        <p-paginator
          [rows]="5"
          [totalRecords]="totalTalents"
          (onPageChange)="paginate($event)"
          #paginator
        ></p-paginator>
      </div>
    </div>
    <div
      class="content bg-white w-12 sm:w-8 font-bold p-2 flex justify-content-center sm:justify-content-start"
    >
      <div
        class="w-full shadow-8 md:shadow-4 text-center border-round-lg surface-overlay overflow-hidden"
      >
        <p-scrollPanel
          [style]="{ width: '100%', height: 'calc(100vh - 190px)' }"
          *ngIf="selId"
        >
          <shared-prof-pers-crd
            [customTalent]="customTalent"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-prof-pers-crd>
          <shared-certs-pers-crd
            [documents]="documents"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-certs-pers-crd>
          <shared-skills-pers-crd
            [softSkills]="softSkills"
            [techSkills]="techSkills"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-skills-pers-crd>
          <shared-summ-pers-crd
            [description]="description"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-summ-pers-crd>
          <app-availability
            [availability]="availability"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></app-availability>
          <shared-exp-pers-crd
            [workExp]="workExp"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-exp-pers-crd>
          <shared-educ-pers-crd
            [educExp]="educExp"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-educ-pers-crd>
          <shared-lang-pers-crd
            [langProficiency]="langProficiency"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-lang-pers-crd>
          <shared-feedback-crd
            [feedbacks]="feedbacks"
            [selectedId]="selId"
            (talentId)="saveChanges($event)"
          ></shared-feedback-crd>
        </p-scrollPanel>
      </div>
    </div>
  </div>
</div>

<shared-no-results *ngIf="!isListEmpty"></shared-no-results>

<p-confirmDialog #exp>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      class="p-button-outlined p-button-secondary"
      (click)="exp.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="exp.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
