<section class="mt-2">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button
        pButton
        pRipple
        type="button"
        label="Nuevo Talento"
        icon="pi pi-plus"
        class="p-button-outlined p-button-info"
        (click)="onNewTalent()"
      ></button>
    </div>

    <div class="p-toolbar-group-right">
      <div class="px-1">
        <p-overlayPanel #hbd [style]="{ width: '350px' }">
          <ng-template pTemplate>
            <div class="py-2">
              <p-chips
                [(ngModel)]="selectedSkills"
                [allowDuplicate]="false"
              ></p-chips>
            </div>
            <div class="field-checkbox" *ngFor="let skill of skills">
              <p-checkbox
                name="group1"
                [value]="skill.name"
                [(ngModel)]="selectedSkills"
                [inputId]="skill.code"
              ></p-checkbox>
              <label [for]="skill.code">{{ skill.name }}</label>
            </div>
          </ng-template>
        </p-overlayPanel>

        <button
          type="text"
          pButton
          label="Habilidades"
          (click)="hbd.toggle($event)"
          class="p-button-rounded p-button-secondary p-button-sm"
        ></button>
      </div>

      <div class="px-1">
        <p-overlayPanel #english [style]="{ width: '150px' }">
          <ng-template pTemplate>
            <div class="field-checkbox">
              <p-listbox
                [options]="englishLevel"
                [(ngModel)]="selectedEnglishLevel"
                optionLabel="name"
                [style]="{ border: 'none' }"
              ></p-listbox>
            </div>
          </ng-template>
        </p-overlayPanel>

        <button
          type="text"
          pButton
          label="Nivel de inglés"
          (click)="english.toggle($event)"
          class="p-button-rounded p-button-secondary p-button-sm"
        ></button>
      </div>
      <div class="px-1">
        <p-overlayPanel #favorite [style]="{ width: '180px' }">
          <ng-template pTemplate>
            <div class="field-checkbox">
              <p-listbox
                [options]="favorites"
                [(ngModel)]="selectedFavorite"
                optionLabel="name"
                [style]="{ border: 'none' }"
              ></p-listbox>
            </div>
          </ng-template>
        </p-overlayPanel>

        <button
          type="text"
          pButton
          label="Nivel de inglés"
          (click)="favorite.toggle($event)"
          class="p-button-rounded p-button-secondary p-button-sm"
        ></button>
      </div>
      <div class="px-1">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" />
        </span>
      </div>
      <div class="px-1">
        <button
          pButton
          pRipple
          type="button"
          label="Buscar"
          class="p-button-success p-button-sm"
        ></button>
      </div>
    </div>
  </p-toolbar>
</section>

<section class="mt-2">
  <div class="grid">
    <!-- Profile Card -->
    <div class="col-12 md:col-4">
      <p-scrollPanel class="w-full max-h-screen">
        <div
          class="grid border-round-lg p-2 m-2"
          [ngStyle]="{ backgroundColor: 'var(--blue-50)' }"
        >
          <div class="col-fixed flex align-items-center" style="width: 74px">
            <p-avatar
              image="./assets/users/1.jpg"
              styleClass="mr-2"
              size="xlarge"
              shape="circle"
              class="pr-1"
            ></p-avatar>
          </div>
          <div class="col flex flex-column gap-1">
            <div class="flex align-items-center">
              <span class="font-semibold">Juan Lopez Martinez</span>
            </div>
            <div class="flex align-items-center">
              <span class="profile-role text-sm">Full-stack developer</span>
            </div>
            <div class="flex align-items-center">
              <p-rating
                [(ngModel)]="rating"
                [stars]="5"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </div>
            <div
              class="flex flex-row justify-content-between flex-wrap gap-1 profile-country-salary"
            >
              <span class="text-sm">
                <i class="pi pi-map-marker" style="font-size: 0.875rem"></i>
                Lima, Peru
              </span>
              <span class="text-sm">
                <i class="pi pi-dollar" style="font-size: 0.875rem"></i>
                2500 - 3000
              </span>
            </div>
          </div>
          <div
            class="col-fixed flex justify-content-center"
            style="width: 45px"
          >
            <span class="heart-icon">
              <i class="pi pi-heart-fill" style="font-size: 1.25rem"></i>
            </span>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <!-- Profile Card Details -->
    <div class="col-12 md:col-8">
      <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 190px)' }">
        <p-card>
          <div class="grid">
            <!-- Profile picture -->
            <div class="col-fixed flex align-items-center" style="width: 100px">
              <p-avatar
                image="./assets/users/1.jpg"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
                class="pr-1"
              ></p-avatar>
            </div>
            <!-- Profile info -->
            <div class="col">
              <div class="flex flex-column">
                <div class="flex flex-row align-content-center">
                  <p class="mr-2 text-lg font-medium">Juan Lopez Martinez</p>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-heart"
                    class="p-button-rounded p-button-danger p-button-text"
                  ></button>
                </div>
                <div class="flex flex-row align-content-center profile-info">
                  <div class="mr-2">
                    <span class="text-sm">Full-stack developer</span>
                  </div>
                  <div class="mr-2">
                    <span class="mr-1 text-sm">
                      <i
                        class="pi pi-map-marker"
                        style="font-size: 0.875rem"
                      ></i>
                    </span>
                    <span class="text-sm">Lima, Peru</span>
                  </div>
                  <div class="mr-2">
                    <span class="text-sm mr-1">
                      <i class="pi pi-dollar" style="font-size: 0.875rem"></i>
                    </span>
                    <span class="text-sm">2500-3000</span>
                  </div>
                </div>
                <div class="mt-2 flex flex-row">
                  <p-rating
                    [(ngModel)]="rating"
                    [stars]="5"
                    [cancel]="false"
                    [readonly]="true"
                  ></p-rating>
                  <span class="ml-2 text-sm profile-feedbacks"
                    >{{ rating }} feedbacks</span
                  >
                </div>
              </div>
            </div>
            <!-- Resume Btn -->
            <div
              class="col-fixed flex align-content-start justify-content-center"
              style="width: 150px"
            >
              <p-splitButton
                label="Ver CV"
                [model]="resume"
                styleClass="p-button-text p-button-info p-button-sm"
              ></p-splitButton>
            </div>
            <!-- Contact info -->
            <div class="col-fixed" style="width: 150px">
              <div class="flex flex-column justify-content-between h-full">
                <div class="">
                  <p-button
                    label="Contactar"
                    icon="pi pi-phone"
                    styleClass="p-button-sm p-button-success w-full"
                  ></p-button>
                </div>
                <div class="flex justify-content-end flex-wrap">
                  <div class="flex flex align-content-end">
                    <a class="custom-cursor px-2">
                      <span class="contact-icon">
                        <i class="pi pi-github" style="font-size: 1.5rem"></i>
                      </span>
                    </a>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <a class="custom-cursor px-2">
                      <span class="contact-icon">
                        <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Skills -->
          <div class="grid">
            <!-- Technical Skills -->
            <div class="col-7">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium"
                    >Habilidades Técnicas</span
                  >
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>

              <div class="border-round-sm">
                <div class="flex align-items-center flex-wrap gap-1">
                  <p-chip
                    *ngFor="let skill of inlineTechnicalSkills"
                    [label]="skill.name"
                    styleClass="custom-chip"
                  ></p-chip>
                </div>
              </div>
            </div>
            <!-- Soft Skills -->
            <div class="col-5">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium">Habilidades Blandas</span>
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>

              <div class="border-round-sm">
                <div class="flex align-items-center flex-wrap gap-1">
                  <p-chip
                    *ngFor="let skill of softSkills"
                    [label]="skill.name"
                    styleClass="custom-red-chip"
                  ></p-chip>
                </div>
              </div>
            </div>
          </div>
          <!-- About me-->
          <div class="grid">
            <div class="col">
              <div class="p-1 border-round-sm bg-primary text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
                enim neque harum. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Saepe enim neque harum.
                <span class="custom-cursor mx-2" (click)="handleClick()">
                  <i class="pi pi-pencil"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- Experience -->
          <div class="grid">
            <!-- Exp - Header -->
            <div class="col">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium">Experiencia</span>
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>
              <!-- Exp - Body -->
              <div class="border-round-sm">
                <div class="grid">
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <p-avatar
                        image="./assets/users/1.jpg"
                        size="large"
                        shape="circle"
                      ></p-avatar>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="flex align-items-center h-4rem border-round">
                      <div class="flex flex-column gap-2 w-full">
                        <div class="flex align-items-center font-semibold">
                          FRACTAL
                        </div>
                        <div
                          class="flex align-items-center profile-detail text-sm"
                        >
                          Desarrollador Full-Stack 2015 - 2021 6años
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Education -->
          <div class="grid">
            <!-- Education - Header -->
            <div class="col">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium">Educación</span>
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>
              <!-- Education - Body -->
              <div class="border-round-sm">
                <div class="grid">
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <p-avatar
                        image="./assets/users/1.jpg"
                        size="large"
                        shape="circle"
                      ></p-avatar>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="flex align-items-center h-4rem border-round">
                      <div class="flex flex-column gap-2 w-full">
                        <div class="flex align-items-center font-semibold">
                          Pontificia Universidad Católica del Perú
                        </div>
                        <div
                          class="flex align-items-center profile-detail text-sm"
                        >
                          Bachiller en Ingeniería de Sistemas 2015 - 2021
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Language -->
          <div class="grid">
            <!-- Language - Header -->
            <div class="col">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium">Idiomas</span>
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>
              <!-- Language - Body -->
              <div class="border-round-sm">
                <div class="grid">
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <div class="flex flex-column gap-2">
                        <div class="flex align-items-center font-semibold">
                          Inglés
                        </div>
                        <div
                          class="flex align-items-center profile-detail text-sm"
                        >
                          Avanzado
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="flex align-items-center h-4rem border-round">
                      <div class="flex flex-column gap-2 w-full">
                        <p-rating
                          [(ngModel)]="rating"
                          [stars]="5"
                          [cancel]="false"
                          [readonly]="true"
                        ></p-rating>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Feedback -->
          <div class="grid">
            <!-- Feedback - Header -->
            <div class="col">
              <div class="border-round-sm flex justify-content-between">
                <div class="flex align-items-center justify-content-center">
                  <span class="text-base font-medium">Feedback</span>
                </div>
                <div class="flex align-items-center justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-secondary p-button-text p-button-sm"
                    (click)="openNew()"
                  ></button>
                </div>
              </div>
              <!-- Feedback - Body -->
              <div class="border-round-sm">
                <div class="grid">
                  <div class="col-2">
                    <div
                      class="flex align-items-center justify-content-center h-4rem border-round"
                    >
                      <p-avatar
                        image="./assets/users/1.jpg"
                        size="large"
                        shape="circle"
                      ></p-avatar>
                    </div>
                  </div>
                  <div class="col-10">
                    <div class="flex align-items-center h-4rem border-round">
                      <div class="flex flex-column gap-2 w-full">
                        <div class="flex align-items-center font-semibold">
                          <div class="grid w-full">
                            <div class="col">
                              <div class="border-round-sm">Cesar Ortiz</div>
                            </div>
                            <div class="col">
                              <div class="border-round-sm">
                                <p-rating
                                  [(ngModel)]="rating"
                                  [stars]="5"
                                  [cancel]="false"
                                  [readonly]="true"
                                ></p-rating>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="flex align-items-center profile-detail text-sm"
                        >
                          Lorem ipsum dolor sit, amet consectetur adipisicing
                          elit. Omnis nostrum id ab.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex align-items-center">
                <span class="custom-cursor" (click)="handleClick()">
                  <i class="pi pi-pencil"></i>
                  <span class="text-sm"> Dar nuevo feedback</span>
                </span>
              </div>
            </div>
          </div>
        </p-card>
      </p-scrollPanel>
    </div>
  </div>
</section>
<p-dialog
  [(visible)]="skillDialog"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agregar una nueva habilidad técnica</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega tu nueva experiencia técnica</p>
      </div>
    </div>
  </ng-template>
  <div>
    <h4>Habilidad técnica</h4>
    <input pInputText placeholder="Nombre de la empresa" class="w-full"/>
  </div>
  <div>
    <h4>Años de Experiencia</h4>
    <p-inputNumber inputId="integeronly" [size]="50"></p-inputNumber>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
