<div
  class="bg-white py-3 px-3 sm:px-6 shadow-3 flex align-items-center justify-content-between relative"
>
  <img src="./assets/users/fractal-logo.png" alt="Logo" class="logo-image" />
  <div class="flex align-items-center" (click)="profileOP.toggle($event)">
    <p-avatar
      image="./assets/users/2.jpg"
      size="large"
      shape="circle"
    ></p-avatar>
    <div class="flex flex-column hidden md:block px-3">
      <span class="font-semibold text-base text-800 hidden md:block">
        Claudia Vasquez
      </span>
      <span class="text-500 text-sm font-light hidden md:block">
        Reclutador
      </span>
    </div>
  </div>
</div>
<p-overlayPanel #profileOP>
  <p-menu [model]="profileOpItems"></p-menu>
</p-overlayPanel>
