@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";

$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1620px;
@import "~primeflex/primeflex.scss";
