<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center profile-detail">
    <span class="text-left text-sm">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim neque
      harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
      enim neque harum.
      <span
        class="cursor-pointer mx-2 text-500 hover:text-700"
        (click)="openEditDescriptionDialog()"
      >
        <i class="pi pi-pencil" style="font-size: 0.875rem"></i>
      </span>
    </span>
  </div>
</div>
<p-dialog
  [(visible)]="editDescriptionDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Edita tu descripción
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Tiempo de una nueva descripción? Editala.
      </span>
    </div>
    <div class="w-12 flex flex-column justify-content-start h-9rem">
      <label for="inputLink" class="block text-left mb-2">Descripción</label>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [autoResize]="true"
        placeholder="Escribe un descripción"
        class="w-full h-auto"
      ></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideEditDescriptionDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
