<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center justify-content-between">
    <div class="flex align-items-center justify-content-center">
      <span class="font-semibold text-base text-600">Educación</span>
    </div>
    <div class="flex align-items-center justify-content-center">
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        class="p-button-rounded p-button-secondary p-button-text p-button-sm"
        (click)="openNewEducationalExperienceDialog()"
      ></button>
    </div>
  </div>
  <div
    class="w-12 flex align-items-center surface-hover border-round-md p-1 mx-0 sm:mx-3 my-1"
    *ngFor="let item of educExp"
  >
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <p-avatar
        image="./assets/users/no-images.jpeg"
        size="large"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="w-8 p-1 flex align-items-center justify-content-center">
      <div class="flex flex-column gap-2 w-full">
        <div class="flex align-items-center font-semibold text-base text-800">
          {{ item.institution }}
        </div>
        <div class="flex align-items-center text-500 text-sm font-normal">
          {{ item.degree }}
          {{ item.major }}
          {{ item.initialDate | extractYear }} -
          {{ item.finalDate | extractYear }}
        </div>
      </div>
    </div>
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <div
        class="flex align-items-center justify-content-center h-4rem border-round"
      >
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-secondary p-button-text"
          (click)="
            openEditEducationalExperienceDialog(item.idEducationalExperience)
          "
        ></button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newEducationalExperienceDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega una nueva experiencia educativa
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Describe y agrega tu nueva experiencia educativa.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      [formGroup]="newEducForm"
      autocomplete="off"
      (ngSubmit)="onSveNewEducForm()"
    >
      <div class="w-12 flex flex-column justify-content-start">
        <label
          for="name"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Institución</label
        >
        <input
          pInputText
          placeholder="Nombre de la institución"
          class="w-full"
          formControlName="name"
        />
        <small
          id="name"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('name') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start py-2">
        <p-checkbox
          [binary]="true"
          inputId="hFractal"
          label="Aquí en Fractal"
          formControlName="hFractal"
          (onChange)="onCheckFractal()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-column justify-content-start py-1">
        <label
          for="career"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Carrera</label
        >
        <input
          pInputText
          placeholder="Nombre de la carrera"
          class="w-full"
          formControlName="career"
        />
        <small
          id="career"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('career') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start py-1">
        <label
          for="degree"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Grado</label
        >
        <input
          pInputText
          placeholder="Grado de la carrera"
          class="w-full"
          formControlName="degree"
        />
        <small
          id="degree"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('degree') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-wrap align-items-center py-1">
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pr-3">
          <div class="w-12 flex flex-column justify-content-start">
            <label
              for="stDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes de inicio</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              inputId="stDate"
              view="month"
              appendTo="body"
              formControlName="stDate"
            ></p-calendar>
            <small
              id="stDate"
              class="hidden"
              [ngClass]="{ 'p-error block text-left': isValidField('stDate') }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
        <div class="w-12 sm:w-6 flex flex-column align-items-center md:pl-3">
          <div class="w-12 flex flex-column justify-content-start">
            <label
              for="edDate"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Año y mes fin</label
            >
            <p-calendar
              class="w-full"
              styleClass="w-full"
              dateFormat="mm/yy"
              inputId="edDate"
              view="month"
              appendTo="body"
              formControlName="edDate"
            ></p-calendar>
            <small
              id="edDate"
              class="hidden"
              [ngClass]="{ 'p-error block text-left': isValidField('edDate') }"
              >Este campo es obligatorio.</small
            >
          </div>
        </div>
      </div>
      <div class="w-12 flex flex-column justify-content-start py-2">
        <p-checkbox
          [binary]="true"
          inputId="tPresent"
          label="Hasta la actualidad"
          formControlName="tPresent"
          (onChange)="onCheckCurrDate()"
        ></p-checkbox>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideNewEducationalExperienceDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="editEducationalExperienceDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Edita tu experiencia educativa
      </span>
      <span
        class="text-red-300 hover:text-red-500 text-sm font-light mx-1 cursor-pointer"
      >
        <i class="pi pi-trash"></i>
      </span>
    </div>
  </ng-template>
  <div class="flex align-items-center w-12 pb-3">
    <span class="text-sm md:text-base font-normal text-500">
      La vida esta llena de cambios. Edita tu experiencia educativa.
    </span>
  </div>
  <form
    class="w-12 flex flex-column"
    autocomplete="off"
    [formGroup]="editEducForm"
    (ngSubmit)="onSveEditEducForm()"
  >
    <div class="w-12 flex flex-column justify-content-start">
      <label
        for="editName"
        class="block text-left mb-2 font-medium text-bluegray-800"
        >Institución</label
      >
      <input
        pInputText
        placeholder="Nombre de la institución"
        class="w-full"
        formControlName="editName"
      />
      <small
        id="editName"
        class="hidden"
        [ngClass]="{
          'p-error block text-left': isValidEditEducField('editName')
        }"
        >Este campo es obligatorio.</small
      >
    </div>
    <div class="w-12 flex flex-column justify-content-start py-2">
      <p-checkbox
        [binary]="true"
        inputId="hFractal"
        label="Aquí en Fractal"
        formControlName="hFractal"
        (onChange)="onCheckEdtFractal()"
      ></p-checkbox>
    </div>
    <div class="w-12 flex flex-column justify-content-start py-1">
      <label
        for="editCareer"
        class="block text-left mb-2 font-medium text-bluegray-800"
        >Carrera</label
      >
      <input
        pInputText
        placeholder="Nombre de la carrera"
        class="w-full"
        formControlName="editCareer"
      />
      <small
        id="editCareer"
        class="hidden"
        [ngClass]="{
          'p-error block text-left': isValidEditEducField('editCareer')
        }"
        >Este campo es obligatorio.</small
      >
    </div>
    <div class="w-12 flex flex-column justify-content-start py-1">
      <label
        for="editDegree"
        class="block text-left mb-2 font-medium text-bluegray-800"
        >Grado</label
      >
      <input
        pInputText
        placeholder="Grado de la carrera"
        class="w-full"
        formControlName="editDegree"
      />
      <small
        id="editDegree"
        class="hidden"
        [ngClass]="{
          'p-error block text-left': isValidEditEducField('editDegree')
        }"
        >Este campo es obligatorio.</small
      >
    </div>
    <div class="w-12 flex flex-wrap align-items-center py-1">
      <div class="w-12 sm:w-6 flex flex-column align-items-center md:pr-3">
        <div class="w-12 flex flex-column justify-content-start">
          <label
            for="editStDate"
            class="block text-left mb-2 font-medium text-bluegray-800"
            >Año y mes de inicio</label
          >
          <p-calendar
            class="w-full"
            styleClass="w-full"
            dateFormat="mm/yy"
            inputId="editStDate"
            view="month"
            appendTo="body"
            formControlName="editStDate"
          ></p-calendar>
          <small
            id="editStDate"
            class="hidden"
            [ngClass]="{
              'p-error block text-left': isValidEditEducField('editStDate')
            }"
            >Este campo es obligatorio.</small
          >
        </div>
      </div>
      <div class="w-12 sm:w-6 flex flex-column align-items-center md:pl-3">
        <div class="w-12 flex flex-column justify-content-start">
          <label
            for="editEdDate"
            class="block text-left mb-2 font-medium text-bluegray-800"
            >Año y mes fin</label
          >
          <p-calendar
            class="w-full"
            styleClass="w-full"
            dateFormat="mm/yy"
            inputId="editEdDate"
            view="month"
            appendTo="body"
            formControlName="editEdDate"
          ></p-calendar>
          <small
            id="editEdDate"
            class="hidden"
            [ngClass]="{
              'p-error block text-left': isValidEditEducField('editEdDate')
            }"
            >Este campo es obligatorio.</small
          >
        </div>
      </div>
    </div>
    <div class="w-12 flex flex-column justify-content-start py-2">
      <p-checkbox
        [binary]="true"
        inputId="tPresent"
        label="Hasta la actualidad"
        formControlName="tPresent"
        (onChange)="onCheckEdtCurrDate()"
      ></p-checkbox>
    </div>
    <div class="w-12 flex flex-wrap pt-3">
      <div class="w-6 p-2 pl-0 flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          type="button"
          class="p-button-outlined p-button-secondary w-full"
          (click)="hideEditEducationalExperienceDialog()"
        ></button>
      </div>
      <div class="w-6 p-2 pr-0 flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          label="Editar"
          icon="pi pi-check"
          type="submit"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>
