<div class="grid">
  <div class="col">
    <div class="border-round-sm flex justify-content-between">
      <div class="flex align-items-center justify-content-center">
        <span class="text-base font-medium">Educación</span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-rounded p-button-secondary p-button-text p-button-sm"
          (click)="openNewEducationalExperienceDialog()"
        ></button>
      </div>
    </div>

    <div class="border-round-sm">
      <div class="grid">
        <div class="col-2">
          <div
            class="flex align-items-center justify-content-center h-4rem border-round"
          >
            <p-avatar
              image="./assets/users/1.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
          </div>
        </div>
        <div class="col-8">
          <div class="flex align-items-center h-4rem border-round">
            <div class="flex flex-column gap-2 w-full">
              <div class="flex align-items-center font-semibold">
                Pontificia Universidad Católica del Perú
              </div>
              <div class="flex align-items-center profile-detail text-sm">
                Bachiller en Ingeniería de Sistemas 2015 - 2021
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div
            class="flex align-items-center justify-content-center h-4rem border-round"
          >
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary p-button-text"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="educationalExperienceDialog"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agrega una nueva experiencia educativa</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Describe y agrega tu nueva experiencia educativa.</p>
      </div>
    </div>
  </ng-template>
  <div>
    <p>Institución</p>
    <input pInputText placeholder="Nombre de la institución" class="w-full" />
    <p-checkbox
      [binary]="true"
      inputId="binary"
      label="Aquí en Fractal"
    ></p-checkbox>
    <p>Carrera</p>
    <input pInputText placeholder="Nombre de la carrera" class="w-full" />
    <p>Grado</p>
    <input pInputText placeholder="Grado de la carrera" class="w-full" />
    <div class="formgrid grid">
      <div class="field col">
        <p>Año y mes de inicio</p>
        <input pInputText class="w-full" />
      </div>
      <div class="field col">
        <p>Año y mes fin</p>
        <input pInputText class="w-full" />
      </div>
    </div>
    <p-checkbox
      [binary]="true"
      inputId="binary"
      label="Hasta la actualidad"
    ></p-checkbox>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewEducationalExperienceDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
