<div
  class="surface-section hover:surface-hover flex border-round-lg p-2 my-2 w-full cursor-pointer"
>
  <div class="w-3 p-2 flex align-items-center justify-content-center">
    <p-avatar
      image="./assets/users/1.jpg"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </div>
  <div class="w-7 px-0 py-1 flex align-items-center">
    <div class="flex flex-column flex-wrap w-full gap-1">
      <div class="border-round flex align-items-center justify-content-start">
        <span class="font-semibold text-base text-800">
          Juan Lopez Martinez
        </span>
      </div>
      <div class="border-round flex align-items-center justify-content-start">
        <span class="text-500 text-sm font-light"> Full-stack developer </span>
      </div>
      <div class="border-round flex align-items-center justify-content-between">
        <p-rating
          [(ngModel)]="rating"
          [stars]="5"
          [cancel]="false"
          [readonly]="true"
        ></p-rating>
      </div>
      <div class="border-round flex align-items-center justify-content-between">
        <span class="text-500 text-sm font-light">
          <i class="pi pi-map-marker text-sm text-800"></i>
          Lima, Peru
        </span>
        <span class="text-500 text-sm font-light">
          <i class="pi pi-dollar text-sm text-800"></i>
          2500 - 3000
        </span>
      </div>
    </div>
  </div>
  <div class="w-2 p-2 flex align-content-start justify-content-center">
    <span class="heart-icon">
      <i class="pi pi-heart-fill text-xl"></i>
    </span>
  </div>
</div>
