<div
  class="hover:surface-hover flex border-round-lg p-2 my-2 w-full cursor-pointer"
  *ngFor="let item of talents"
  (click)="emitTalentId(item.id)"
  [ngClass]="{
    'border-teal-100 border-1 bg-teal-100': item.id == selId
  }"
>
  <div class="w-3 p-2 flex align-items-center justify-content-center">
    <p-avatar
      [image]="item.image | base64ToImage"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </div>
  <div class="w-7 px-0 py-1 flex align-items-center">
    <div class="flex flex-column flex-wrap w-full gap-1">
      <div class="border-round flex align-items-center justify-content-start">
        <span class="font-semibold text-sm sm:text-base text-800">
          {{ item.nameJobTitle | extractFullName }}
        </span>
      </div>
      <div class="border-round flex align-items-center justify-content-start">
        <span class="text-500 text-xs sm:text-sm font-light">
          {{ item.nameJobTitle | extractJobPosition }}
        </span>
      </div>
      <div class="border-round flex align-items-center justify-content-between">
        <p-rating
          [(ngModel)]="item.avgRating"
          [stars]="5"
          [cancel]="false"
          [readonly]="true"
        ></p-rating>
      </div>
      <div class="border-round flex align-items-center justify-content-between">
        <span class="text-500 text-xs sm:text-sm font-light">
          <i class="pi pi-map-marker text-xs sm:text-sm text-800"></i>
          {{ item.location | titlecase }}
        </span>
        <span class="text-500 text-xs sm:text-sm font-light">
          RxH {{ item.iconCoin }} {{ item.initialSalaryRxH }} -
          {{ item.finalSalaryRxH }} | Planilla {{ item.iconCoin }}
          {{ item.initialSalaryPlanilla }} - {{ item.finalSalaryPlanilla }}
        </span>
      </div>
    </div>
  </div>
  <div
    class="w-2 p-2 flex align-content-start justify-content-center"
    *ngIf="item.inUserList === 1"
  >
    <span class="heart-icon">
      <i class="pi pi-heart-fill text-base sm:text-xl"></i>
    </span>
  </div>
</div>
