<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center justify-content-between">
    <div class="flex align-items-center justify-content-center">
      <span class="font-semibold text-base text-600">Idiomas</span>
    </div>
    <div class="flex align-items-center justify-content-center">
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        class="p-button-rounded p-button-secondary p-button-text p-button-sm"
        (click)="openNewLanguageDialog()"
      ></button>
    </div>
  </div>
  <div
    class="w-12 flex align-items-center surface-hover border-round-md p-1 mx-0 sm:mx-3 my-1"
    *ngFor="let item of langProficiency"
  >
    <div class="w-3 sm:w-2 py-1 flex align-items-center justify-content-center">
      <div class="flex flex-column gap-2">
        <div class="flex align-items-center font-semibold text-base text-800">
          {{ item.languageName | titlecase }}
        </div>
        <div class="flex align-items-center text-500 text-sm font-normal">
          {{ item.proficiency | titlecase }}
        </div>
      </div>
    </div>
    <div class="w-7 sm:w-8 p-1 flex align-items-center justify-content-start">
      <p-rating
        [(ngModel)]="item.starCount"
        [stars]="5"
        [cancel]="false"
        [readonly]="true"
      ></p-rating>
    </div>
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <div
        class="flex align-items-center justify-content-center h-4rem border-round"
      >
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-secondary p-button-text"
          (click)="openEditLanguageDialog(item.idTalentLanguage)"
        ></button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newLanguageDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega una nuevo idioma
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Agrega un nuevo idioma aprendido.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="newLanguageForm"
      (ngSubmit)="onSveNewLanguageForm()"
    >
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label for="languages" class="block text-left mb-2">Idioma</label>
        <p-dropdown
          [options]="language"
          [showClear]="true"
          placeholder="Nombre del idioma"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
          class="w-full text-left"
          styleClass="w-full"
          formControlName="languages"
          (onChange)="OnLanguageChange()"
        ></p-dropdown>
        <small
          id="languages"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('languages') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label for="proficiency" class="block text-left mb-2">Nivel</label>
        <p-dropdown
          [options]="proficiency"
          [showClear]="true"
          placeholder="Nombre del idioma"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
          class="w-full text-left"
          styleClass="w-full"
          formControlName="proficiency"
        ></p-dropdown>
        <small
          id="proficiency"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidField('proficiency') }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column align-items-center py-2">
        <div class="w-12 flex align-items-center justify-content-between">
          <p-rating formControlName="rating"></p-rating>
        </div>
        <div class="w-12 flex align-items-center">
          <small
            id="rating"
            class="hidden"
            [ngClass]="{ 'p-error block text-left': isValidField('rating') }"
            >Por favor, completa este campo.</small
          >
        </div>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideNewLanguageDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="editLanguageDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Edita tu experiencia
      </span>
      <span
        class="text-red-300 hover:text-red-500 text-sm font-light mx-1 cursor-pointer"
      >
        <i class="pi pi-trash"></i>
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Edita tu habilidad en el idioma.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="editLanguageForm"
      (ngSubmit)="onSveEditLangForm()"
    >
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label for="editLanguages" class="block text-left mb-2">Idioma</label>
        <p-dropdown
          [options]="language"
          [showClear]="true"
          placeholder="Nombre del idioma"
          optionLabel="name"
          optionValue="name"
          appendTo="body"
          class="w-full text-left"
          styleClass="w-full"
          formControlName="editLanguages"
          (onChange)="OnEditLangChange()"
        ></p-dropdown>
        <small
          id="editLanguages"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidEditLangField('editLanguages')
          }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label for="editProficiency" class="block text-left mb-2">Nivel</label>
        <p-dropdown
          [options]="proficiency"
          [showClear]="true"
          placeholder="Nombre del idioma"
          optionLabel="name"
          optionValue="name"
          appendTo="body"
          class="w-full text-left"
          styleClass="w-full"
          formControlName="editProficiency"
        ></p-dropdown>
        <small
          id="editProficiency"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidEditLangField('editProficiency')
          }"
          >Este campo es obligatorio.</small
        >
      </div>
      <div class="w-12 flex flex-column align-items-center py-2">
        <div class="w-12 flex align-items-center justify-content-between">
          <p-rating formControlName="editRating"></p-rating>
        </div>
        <div class="w-12 flex align-items-center">
          <small
            id="editRating"
            class="hidden"
            [ngClass]="{
              'p-error block text-left': isValidEditLangField('editRating')
            }"
            >Por favor, completa este campo.</small
          >
        </div>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideEditLanguageDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
