<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center justify-content-between">
    <div class="flex align-items-center justify-content-center">
      <span class="font-semibold text-base text-600">Feedback</span>
    </div>
  </div>
  <div
    class="w-12 flex align-items-center surface-hover p-1 mx-0 sm:mx-3 border-round-md"
  >
    <div class="w-2 py-1 flex align-items-center justify-content-center">
      <p-avatar
        image="./assets/users/1.jpg"
        size="large"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="w-10 p-1 flex align-items-center justify-content-center">
      <div class="flex flex-column gap-2 w-full">
        <div class="flex align-items-center font-semibold text-base text-800">
          Cesar Ortiz
          <span class="mx-4">
            <p-rating
              [(ngModel)]="rating"
              [stars]="5"
              [cancel]="false"
              [readonly]="true"
            ></p-rating>
          </span>
        </div>
        <div class="flex align-items-center text-500 text-sm font-normal">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          nostrum id ab.
        </div>
      </div>
    </div>
  </div>
  <div class="w-12 py-1 flex align-items-center justify-content-start">
    <div
      class="flex align-items-center justify-content-center border-round text-500 hover:text-700 text-sm font-normal"
    >
      <span class="cursor-pointer mx-4" (click)="openNewFeedbackDialog()">
        <i class="pi pi-plus" style="font-size: 0.75rem"></i>
        <span> Dar nuevo feedback</span>
      </span>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newFeedbackDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega nuevo feedback
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Agrega un nuevo puntaje y escribe un comentario.
      </span>
    </div>
    <div class="w-12 flex align-items-center justify-content-between">
      <p-rating></p-rating>
    </div>
    <div class="w-12 flex flex-column justify-content-start h-9rem">
      <label for="inputLink" class="block text-left mb-2">Feedback</label>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [autoResize]="true"
        placeholder="Escribe un comentario"
        class="w-full h-auto"
      ></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewFeedbackDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
