<div class="grid">
  <div class="col">
    <div class="border-round-sm flex justify-content-between">
      <div class="flex align-items-center justify-content-center">
        <span class="text-base font-medium">Feedback</span>
      </div>
    </div>

    <div class="border-round-sm">
      <div class="grid">
        <div class="col-2">
          <div
            class="flex align-items-center justify-content-center h-4rem border-round"
          >
            <p-avatar
              image="./assets/users/1.jpg"
              size="large"
              shape="circle"
            ></p-avatar>
          </div>
        </div>
        <div class="col-10">
          <div class="flex align-items-center h-4rem border-round">
            <div class="flex flex-column gap-2 w-full">
              <div class="flex align-items-center font-semibold">
                <div class="grid w-full">
                  <div class="col">
                    <div class="border-round-sm">Cesar Ortiz</div>
                  </div>
                  <div class="col">
                    <div class="border-round-sm">
                      <p-rating
                        [(ngModel)]="rating"
                        [stars]="5"
                        [cancel]="false"
                        [readonly]="true"
                      ></p-rating>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex align-items-center profile-detail text-sm">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
                nostrum id ab.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex align-items-center">
      <span class="custom-cursor" (click)="openNewFeedbackDialog()">
        <i class="pi pi-pencil"></i>
        <span class="text-sm"> Dar nuevo feedback</span>
      </span>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newFeedbackDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agrega nuevo feedback</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega un nuevo puntaje y escribe un comentario.</p>
      </div>
    </div>
  </ng-template>
  <div>
    <div class="pt-4">
        <p-rating></p-rating>
    </div>
    <div class="h-7rem">
      <p>Feedback</p>
      <input pInputText placeholder="Escribe un comentario" class="w-full h-5rem"/>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewFeedbackDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>