<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 p-1 flex align-items-center justify-content-between">
    <div class="flex align-items-center justify-content-center">
      <span class="text-base font-medium">Feedback</span>
    </div>
  </div>
  <div class="w-2 py-1 flex align-items-center justify-content-center">
    <p-avatar
      image="./assets/users/1.jpg"
      size="large"
      shape="circle"
    ></p-avatar>
  </div>
  <div class="w-10 p-1 flex align-items-center justify-content-center">
    <div class="flex flex-column gap-2 w-full">
      <div class="flex align-items-center font-semibold">
        Cesar Ortiz
        <span class="mx-4">
          <p-rating
            [(ngModel)]="rating"
            [stars]="5"
            [cancel]="false"
            [readonly]="true"
          ></p-rating>
        </span>
      </div>
      <div class="flex align-items-center profile-detail text-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis nostrum
        id ab.
      </div>
    </div>
  </div>
  <div class="w-12 py-1 flex align-items-center justify-content-start">
    <div class="flex align-items-center justify-content-center border-round">
      <span class="custom-cursor mx-4" (click)="openNewFeedbackDialog()">
        <i class="pi pi-plus" style="font-size: 0.75rem"></i>
        <span class="text-sm"> Dar nuevo feedback</span>
      </span>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="newFeedbackDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agrega nuevo feedback</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega un nuevo puntaje y escribe un comentario.</p>
      </div>
    </div>
  </ng-template>
  <div>
    <div class="pt-4">
      <p-rating></p-rating>
    </div>
    <div class="h-7rem">
      <p>Feedback</p>
      <textarea rows="5" cols="30" pInputTextarea placeholder="Escribe un comentario" class="w-full h-5rem"></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewFeedbackDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
