<div class="flex" [style]="{ 'height': '100vh' }">
  <div class="flex align-items-center justify-content-center" [style]="{ 'width': '50%' }">
    <div class="flex align-items-center justify-content-center" [style]="{ 'width': '75%' }">
      <div class="w-full">
        <div class="mb-7">
          <p-image src="./assets/login/Fractal Logo Login.png" width="350"></p-image>
        </div>
        <h2>Inicio de sesión</h2>
        <label>Inicia sesión</label>
        <h4>Usuario</h4>
        <input pInputText placeholder="Nombre de usuario" class="w-full"/>
        <h4>Contraseña</h4>
        <p-password [toggleMask]="true" placeholder="Contraseña" class="w-full" styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right" inputStyleClass="w-full"></p-password>
        <p class="m-4 ml-0" [style]="{ 'color': '#0B85C3', 'font-weight': 'bold' }">Olvidé mi contraseña</p>
        <button
          pButton
          pRipple
          type="button"
          label="Iniciar sesión"
          class="p-button-success w-full"
          [style]="{'height': '50px'}"
          (click)="onLogin()"
        ></button>
      </div>
    </div>
  </div>
  <div class="surface-100 flex align-items-center justify-content-center" [style]="{ 'width': '50%' }">
    <p-image src="./assets/login/Map.png"></p-image>
    <p-image src="./assets/login/People.png" class="absolute"></p-image>
  </div>
</div>
