<div class="flex flex-wrap border-round m-1 sm:my-2 sm:mr-2 sm:ml-4">
  <ng-template #noDocuments>
    <div
      class="w-12 sm:w-8 p-1 flex align-items-center justify-content-center text-blue-400"
    >
      Sube tu certificado, diploma o algún archivo que respalde tus aptitudes.
      <i
        class="pi pi-chevron-right text-yellow-500 mx-2 px-2 fadeinleft animation-duration-1000 animation-iteration-infinite"
      ></i>
    </div>
  </ng-template>
  <div
    class="w-12 p-1 flex align-items-center justify-content-center"
    [ngClass]="{ 'sm:w-8': isRecruiter }"
    *ngIf="documents.length != 0; else noDocuments"
  >
    <p-carousel
      [value]="documents"
      [circular]="true"
      [showIndicators]="false"
      [numVisible]="numVisible"
      [numScroll]="numScroll"
      [responsiveOptions]="responsiveOptions"
      class="w-full"
    >
      <ng-template let-product pTemplate="item">
        <div class="h-9rem w-full py-1">
          <div class="border-round px-2">
            <button
              (click)="showDialog(product.idDocument)"
              class="w-full h-8rem border-none border-round flex flex-column align-items-center cursor-pointer p-0"
            >
              <div
                class="h-6rem w-full border-round-top overflow-hidden surface-50"
              >
                <img src="./assets/pdfIcon.svg" [alt]="" class="file-image" />
              </div>
              <div
                class="h-2rem w-full border-round-bottom surface-100 flex align-items-center"
              >
                <div
                  class="flex w-full flex-column align-items-center align-content-start"
                >
                  <div
                    class="w-12 border-round text-xs text-500 flex align-items-center align-content-start pl-2"
                  >
                    <div
                      class="w-10rem flex align-items-center align-content-start white-space-nowrap overflow-hidden text-overflow-ellipsis"
                    >
                      {{ product.documentName }}
                    </div>
                  </div>
                  <div
                    class="w-12 border-round text-xs text-500 flex align-items-center pl-2"
                  >
                    {{ product.documentType }}
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div
    class="w-12 sm:w-4 py-1 flex align-items-center justify-content-center"
    *ngIf="isRecruiter"
  >
    <button
      pButton
      class="p-button-outlined border-transparent h-8rem w-10 surface-50 hover:surface-200 flex flex-column"
      (click)="openAddFileDialog()"
    >
      <i class="pi pi-cloud-upload px-2 pt-3 text-2xl text-bluegray-400"></i>
      <span
        style="color: #0b85c3"
        class="px-3 pt-4 flex align-items-center justify-content-center font-semibold border-round"
        >Sube un archivo</span
      >
    </button>
  </div>
</div>

<p-dialog
  [(visible)]="addFileDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega un archivo
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Sube tu nuevo certificado, diploma o algún archivo que respalde tus
        aptitudes.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="fileForm"
      (ngSubmit)="onSveFile()"
    >
      <button
        pButton
        class="p-button-outlined border-300 w-full flex flex-column"
        (click)="fileUpload.click()"
      >
        <i
          class="pi pi-cloud-upload px-2 pt-5 text-2xl text-bluegray-400"
          *ngIf="!fileUploaded"
        ></i>
        <i
          class="pi pi-check px-2 pt-5 text-2xl text-teal-500"
          *ngIf="fileUploaded"
        ></i>
        <span
          class="px-3 pt-5 flex align-items-center justify-content-center font-bold border-round"
          style="color: #0b85c3"
          [ngClass]="{ 'text-teal-500': fileUploaded }"
          >{{ fileText }}</span
        >
        <span
          class="text-sm text-500 pt-1 flex align-items-center justify-content-center border-round"
          >{{ fileDetailsText }}</span
        >
        <input
          #fileUpload
          id="file"
          type="file"
          accept=".pdf"
          style="display: none"
          formControlName="file"
          (change)="onFileUpload($event)"
        />
      </button>
      <div class="w-12 py-2">
        <small
          id="file"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidFileField('file')
          }"
          >Este campo no puede estar vacío.</small
        >
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideAddFileDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Subir"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw', height: '80vh' }"
>
  <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="true"
    [fit-to-page]="true"
    style="height: 100%"
  ></pdf-viewer>
</p-dialog>
