<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 sm:w-8 p-1 flex align-items-center justify-content-center">
    <p-carousel
      [value]="products"
      [numVisible]="2"
      [numScroll]="2"
      [circular]="true"
      [showIndicators]="false"
      [responsiveOptions]="responsiveOptions"
      class="w-full"
    >
      <ng-template let-product pTemplate="item">
        <div class="h-9rem w-full py-1">
          <div class="border-round px-2">
            <div
              class="w-full h-8rem border-round flex flex-column align-items-center"
            >
              <div class="h-6rem w-full border-round-top overflow-hidden">
                <img src="./assets/users/1.jpg" [alt]="" class="file-image" />
              </div>
              <div
                class="h-2rem w-full border-round-bottom surface-100 flex align-items-center"
              >
                <div
                  class="flex w-full flex-column align-items-center align-content-start"
                >
                  <div
                    class="w-12 border-round text-xs text-500 flex align-items-center align-content-start pl-2"
                  >
                    <div
                      class="w-10rem flex align-items-center align-content-start white-space-nowrap overflow-hidden text-overflow-ellipsis"
                    >
                      Certificado
                      {{ product.name }}
                    </div>
                  </div>
                  <div
                    class="w-12 border-round text-xs text-500 flex align-items-center pl-2"
                  >
                    PDF
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="w-12 sm:w-4 py-1 flex align-items-center justify-content-center">
    <button
      pButton
      class="p-button-outlined border-transparent h-8rem w-10 surface-50 hover:surface-200 flex flex-column"
      (click)="openAddFileDialog()"
    >
      <i class="pi pi-cloud-upload px-2 pt-3 text-2xl text-bluegray-400"></i>
      <span
        class="px-3 pt-4 flex align-items-center justify-content-center font-semibold border-round"
        style="color: #0b85c3"
        >Sube un archivo</span
      >
    </button>
  </div>
</div>
<p-dialog
  [(visible)]="addFileDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Agrega un archivo
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Sube tu nuevo certificado, diploma o algún archivo que respalde tus
        aptitudes.
      </span>
    </div>
    <button
      pButton
      class="p-button-outlined border-300 w-full flex flex-column"
    >
      <i class="pi pi-cloud-upload px-2 pt-5 text-2xl text-bluegray-400"></i>
      <span
        class="px-3 pt-5 flex align-items-center justify-content-center font-bold border-round"
        style="color: #0b85c3"
        >Sube un archivo</span
      >
      <span
        class="text-sm text-500 pt-1 flex align-items-center justify-content-center border-round"
        >PDF</span
      >
    </button>
    <div class="w-12 flex flex-wrap pt-3">
      <div class="w-6 p-2 pl-0 flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-secondary w-full"
          (click)="hideAddFileDialog()"
        ></button>
      </div>
      <div class="w-6 p-2 pr-0 flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          label="Editar"
          icon="pi pi-check"
          type="submit"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
