/* You can add global styles to this file, and also import other style files */

/*Prime NG*/
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/primeng/resources/themes/tailwind-light/theme.css";

/*font derived from the PrimeNG*/
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
