<div class="flex flex-wrap border-round m-1 sm:my-3 sm:mr-2 sm:ml-4">
  <div class="w-3 sm:w-2 p-1 flex align-items-center justify-content-center">
    <div
      class="relative w-4rem sm:w-6rem h-4rem sm:h-6rem border-circle bg-center bg-cover"
      [ngStyle]="{
        'background-image':
          'url(' + (customTalent?.profilePicture | base64ToImage) + ')'
      }"
    >
      <button
        type="button"
        class="absolute bottom-0 right-0 back-icon-abs-btn"
        *ngIf="isRecruiter"
        (click)="openEditProfilePicture()"
      >
        <i class="pi pi-pencil text-sm"></i>
      </button>
    </div>
  </div>
  <div class="w-9 sm:w-6 py-1 flex align-items-center justify-content-center">
    <div class="flex flex-column flex-wrap w-full gap-1">
      <div
        class="border-round flex align-items-center sm:justify-content-start justify-content-between"
      >
        <span class="font-semibold text-sm sm:text-base text-800 mr-2"
          >{{ customTalent?.name }} {{ customTalent?.surname }}
          {{ customTalent?.secondSurname }}
        </span>
        <p-overlayPanel
          #fav
          [style]="{ width: '300px', zIndex: '99' }"
          [autoZIndex]="false"
        >
          <ng-template pTemplate>
            <div class="field">
              <input
                type="text"
                pInputText
                placeholder="Selecciona o crea un nuevo talento"
                class="p-inputtext-sm w-full"
                #txtSearch
                (keyup)="onSearchFavorites(txtSearch.value)"
              />
            </div>
            <p-scrollPanel
              [style]="{ width: '100%', height: 'auto', maxHeight: '170px' }"
              *ngIf="(favorites | searchFilter : search).length !== 0"
            >
              <button
                *ngFor="let item of favorites | searchFilter : search"
                class="flex align-items-center justify-content-center cursor-pointer h-3rem w-full mb-1 border-none border-round-md bg-white hover:surface-hover"
                [ngClass]="{
                  'border-primary border-2 bg-indigo-50':
                    item.idListUser === selectedFavoriteId
                }"
                (click)="
                  onSelectedFavorite(
                    item.idListUser,
                    item.listName,
                    customTalent!.name
                  )
                "
              >
                <div
                  class="w-full flex align-items-center justify-content-start"
                >
                  <label [for]="item.listName" class="ml-1 text-base">{{
                    item.listName
                  }}</label>
                </div>
                <div
                  class="w-full flex align-items-center justify-content-end mr-1"
                >
                  <p-radioButton
                    [inputId]="item.listName"
                    name="fav"
                    [value]="item.idListUser"
                    [(ngModel)]="selectedFavoriteId"
                  ></p-radioButton>
                </div>
              </button>
            </p-scrollPanel>
            <div
              class="w-12 p-2 pr-0 flex align-items-center justify-content-center"
              *ngIf="(favorites | searchFilter : search).length === 0"
            >
              <button
                pButton
                pRipple
                label="Crear Favorito"
                icon="pi pi-list"
                type="button"
                class="p-button-success w-full"
                [disabled]="search.length === 0"
                (click)="
                  onCreateNewFavorite(txtSearch.value, customTalent!.name)
                "
              ></button>
            </div>
          </ng-template>
        </p-overlayPanel>
        <button
          *ngIf="!customTalent?.userListTalent"
          type="button"
          class="pink-icon-btn heart-icon"
          (click)="onOpenOverlayPanel($event)"
        >
          <i class="pi pi-heart"></i>
        </button>
        <button
          *ngIf="customTalent?.userListTalent"
          type="button"
          class="pink-icon-btn heart-icon"
          (click)="onOpenOverlayPanel($event)"
        >
          <i class="pi pi-heart-fill"></i>
        </button>
      </div>
      <div class="flex flex-wrap">
        <div
          class="w-12 sm:w-max border-round flex align-items-center justify-content-start"
        >
          <span class="text-500 text-xs sm:text-sm font-light">{{
            workAs.name
          }}</span>
        </div>
        <div
          class="w-12 sm:w-max border-round flex align-items-center justify-content-around profile-country-salary"
        >
          <span class="mx-2 text-500 text-xs sm:text-sm font-light">
            <i class="pi pi-map-marker text-xs sm:text-sm text-800"></i>
            {{ countryCity.city | titlecase }},
            {{ countryCity.country | titlecase }}
          </span>
          <span class="text-500 text-xs sm:text-sm font-light">
            <i class="pi pi-dollar text-xs sm:text-sm text-800"></i>
            <ng-container
              *ngIf="
                (customTalent?.initialSalaryRxh ?? 0) > 0 &&
                (customTalent?.finalSalaryRxh ?? 0) > 0
              "
            >
              RxH {{ customTalent?.initialSalaryRxh }} -
              {{ customTalent?.finalSalaryRxh }} |
            </ng-container>
            <ng-container
              *ngIf="
                !(
                  (customTalent?.initialSalaryRxh ?? 0) > 0 &&
                  (customTalent?.finalSalaryRxh ?? 0) > 0
                )
              "
            >
              RxH Sin salario registrado |
            </ng-container>
            <ng-container
              *ngIf="
                (customTalent?.initialSalaryPlanilla ?? 0) > 0 &&
                (customTalent?.finalSalaryPlanilla ?? 0) > 0
              "
            >
              Planilla {{ customTalent?.initialSalaryPlanilla }} -
              {{ customTalent?.finalSalaryPlanilla }}
            </ng-container>
          </span>
          <button
            type="button"
            class="mx-1 back-icon-btn"
            *ngIf="isRecruiter"
            (click)="openEditSalaryDialog()"
          >
            <i class="pi pi-pencil text-sm"></i>
          </button>
        </div>
      </div>
      <div
        class="border-round flex align-items-center sm:justify-content-start justify-content-between"
      >
        <p-rating
          [ngModel]="customTalent?.avgRating"
          [stars]="5"
          [cancel]="false"
          [readonly]="true"
        ></p-rating>
        <span class="mx-2 text-500 text-xs sm:text-sm font-light"
          >{{ totFeedbacks | i18nPlural : feedbackMap }}
        </span>
      </div>
    </div>
  </div>
  <div class="w-12 sm:w-4 py-1">
    <div class="flex flex-wrap align-content-evenly">
      <div
        class="w-12 border-round flex align-items-center justify-content-between mb-2 sm:mb-4"
      >
        <p-splitButton
          label="Ver CV"
          [model]="resume"
          styleClass="p-button-text p-button-info p-button-sm"
        ></p-splitButton>
        <p-button
          label="Contactar"
          icon="pi pi-phone"
          (click)="openContactInfoDialog()"
          styleClass="p-button-sm p-button-success w-full"
        ></p-button>
      </div>

      <div
        class="w-12 border-round flex align-items-center justify-content-center sm:justify-content-end"
      >
        <a
          class="cursor-pointer px-2"
          [href]="customTalent?.github"
          target="_blank"
        >
          <span class="text-400 hover:text-700">
            <i class="pi pi-github text-xl sm:text-2xl"></i>
          </span>
        </a>
        <a
          class="cursor-pointer px-2"
          [href]="customTalent?.linkedin"
          target="_blank"
        >
          <span class="text-400 hover:text-700">
            <i class="pi pi-linkedin text-xl sm:text-2xl"></i>
          </span>
        </a>

        <button
          type="button"
          class="mx-1 back-icon-btn"
          *ngIf="isRecruiter"
          (click)="opEditSocMediaDlg()"
        >
          <i class="pi pi-pencil text-sm"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="editProfilePicture"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800"
        >Modifica tu foto de perfil</span
      >
    </div>
  </ng-template>
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500"
        >Sube una nueva foto de perfil.</span
      >
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="profileForm"
      (ngSubmit)="onSveProfile()"
    >
      <button type="button" class="upload-btn" (click)="photoUpload.click()">
        <i
          class="pi pi-cloud-upload px-2 pt-5 text-2xl text-bluegray-400"
          *ngIf="!photoUploaded"
        ></i>
        <i
          class="pi pi-check px-2 pt-5 text-2xl text-bluegray-400"
          *ngIf="photoUploaded"
        ></i>
        <span
          class="text-base font-bold px-3 pt-5 flex align-items-center justify-content-center btn-text"
          >{{ photoText }}</span
        >
        <span
          class="text-sm text-500 pt-1 flex align-items-center justify-content-center"
          >{{ photoDetailsText }}</span
        >
        &nbsp;
        <input
          #photoUpload
          id="picture"
          type="file"
          accept=".png, .jpg, .jpeg"
          style="display: none"
          formControlName="img"
          (change)="onPhotoUpload($event)"
        />
      </button>
      <div class="w-12 py-2">
        <small
          id="picture"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidProfileField('img')
          }"
          >Este campo no puede estar vacío.</small
        >
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideEditProfilePicture()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="editSalaryDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header" class="pb-0">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Modifica tu banda salarial
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Agrega el rango de tus expectativas salariales.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="salaryForm"
      (ngSubmit)="onSveSalary()"
    >
      <div class="w-12 flex flex-column align-items-center">
        <div
          *ngFor="let coin of coins"
          class="h-3rem w-full border-round border-1 border-300 mb-2 flex"
          [ngClass]="{
            'border-primary border-2 bg-indigo-50':
              coin.id == salaryForm.controls['currency'].value
          }"
        >
          <div
            class="w-full pl-1 flex align-items-center justify-content-start"
          >
            <label [for]="coin.name" class="ml-2">{{
              coin.name | titlecase
            }}</label>
          </div>
          <div class="w-full pr-3 flex align-items-center justify-content-end">
            <p-radioButton
              [inputId]="coin.name"
              name="currency"
              [value]="coin.id"
              formControlName="currency"
            ></p-radioButton>
          </div>
        </div>
      </div>
      <div class="flex align-items-center w-12 pb-3">
        <span class="text-sm md:text-base font-normal text-500">
          Monto por RxH
        </span>
      </div>
      <div class="w-12 flex flex-wrap align-items-center">
        <div
          class="w-12 sm:w-6 flex flex-column align-items-center py-2 md:pr-3"
        >
          <div class="w-12 flex flex-column justify-content-start mb-2">
            <label
              for="inputNumberRxh"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Monto Inicial</label
            >
            <p-inputNumber
              inputId="inputNumberRxh"
              class="w-full"
              styleClass="w-full"
              [min]="0"
              [max]="10000"
              formControlName="iAmountRxH"
            ></p-inputNumber>
            <small
              id="inputNumberRxh"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidSalaryField('iAmountRxH')
              }"
              >Este campo no puede estar vacío.</small
            >
          </div>
        </div>
        <div
          class="w-12 sm:w-6 flex flex-column align-items-center py-2 md:pl-3"
        >
          <div class="w-12 flex flex-column justify-content-start mb-2">
            <label
              for="inputNumberRxh2"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Monto Final</label
            >
            <p-inputNumber
              inputId="inputNumberRxh2"
              styleClass="w-12"
              [min]="0"
              [max]="10000"
              formControlName="fAmountRxH"
            ></p-inputNumber>
            <small
              id="inputNumberRxh2"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidSalaryField('fAmountRxH')
              }"
              >{{ getErrFnAmountField("fAmountRxH") }}</small
            >
          </div>
        </div>
      </div>
      <div class="flex align-items-center w-12 pb-3">
        <span class="text-sm md:text-base font-normal text-500">
          Monto por planilla
        </span>
      </div>
      <div class="w-12 flex flex-wrap align-items-center">
        <div
          class="w-12 sm:w-6 flex flex-column align-items-center py-2 md:pr-3"
        >
          <div class="w-12 flex flex-column justify-content-start mb-2">
            <label
              for="inputNumber"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Monto Inicial</label
            >
            <p-inputNumber
              inputId="inputNumber"
              class="w-full"
              styleClass="w-full"
              [min]="0"
              [max]="10000"
              formControlName="iAmountPlanilla"
            ></p-inputNumber>
            <small
              id="inputNumber"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidSalaryField('iAmountPlanilla')
              }"
              >Este campo no puede estar vacío.</small
            >
          </div>
        </div>
        <div
          class="w-12 sm:w-6 flex flex-column align-items-center py-2 md:pl-3"
        >
          <div class="w-12 flex flex-column justify-content-start mb-2">
            <label
              for="inputNumber2"
              class="block text-left mb-2 font-medium text-bluegray-800"
              >Monto Final</label
            >
            <p-inputNumber
              inputId="inputNumber2"
              styleClass="w-12"
              [min]="0"
              [max]="10000"
              formControlName="fAmountPlanilla"
            ></p-inputNumber>
            <small
              id="inputNumber2"
              class="hidden"
              [ngClass]="{
                'p-error block text-left': isValidSalaryField('fAmountPlanilla')
              }"
              >{{ getErrFnAmountField("fAmountPlanilla") }}</small
            >
          </div>
        </div>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-outlined p-button-secondary w-full"
            type="button"
            (click)="hideEditSalaryDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="editSocialMediaDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Modifica tus medios sociales
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        Agrega y muestra tus medios sociales.
      </span>
    </div>
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="redSocForm"
      (ngSubmit)="onSveRedSoc()"
    >
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label
          for="inputLink"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Link de LinkedIn</label
        >
        <input pInputText formControlName="linkedin" class="w-full" />
        <small
          id="inputLink"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidSocField('linkedin') }"
          >{{ getErrLinkField("linkedin") }}</small
        >
      </div>
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <label
          for="inputLink2"
          class="block text-left mb-2 font-medium text-bluegray-800"
          >Link de GitHub</label
        >
        <input pInputText formControlName="github" class="w-full" />
        <small
          id="inputLink2"
          class="hidden"
          [ngClass]="{ 'p-error block text-left': isValidSocField('github') }"
          >{{ getErrGitField("github") }}</small
        >
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hidEditSocMediaDlg()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Editar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="addFileDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        {{ titleForCv }}
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <div class="flex align-items-center w-12 pb-3">
      <span class="text-sm md:text-base font-normal text-500">
        {{ paragraphForCV }}
      </span>
    </div>

    <ng-template #pdfView>
      <div class="w-12 flex justify-content-center">
        <div
          class="w-3 h-15rem border-none border-round flex flex-column align-items-center surface-100 relative"
        >
          <div class="h-12rem w-full border-round-top overflow-hidden">
            <img src="./assets/pdfIcon.svg" [alt]="" class="file-image" />
          </div>
          <div
            class="h-3rem w-full border-round-bottom surface-50 flex align-items-end"
          >
            <div
              class="flex w-full flex-wrap align-items-center align-content-start"
            >
              <div
                class="w-9 flex flex-column align-items-center justify-content-center"
              >
                <div
                  class="w-12 border-round text-xs text-500 flex align-items-center align-content-start pl-2"
                >
                  <div
                    class="w-10rem flex align-items-center align-content-start white-space-nowrap overflow-hidden text-overflow-ellipsis"
                  >
                    {{ customTalent?.resume?.documentName }}
                  </div>
                </div>
                <div
                  class="w-12 border-round text-xs text-500 flex align-items-center pl-2"
                >
                  {{ customTalent?.resume?.documentType }}
                </div>
              </div>
              <div
                class="w-3 flex flex align-items-center justify-content-end my-1"
              >
                <button
                  type="button"
                  class="mx-1 back-icon-btn"
                  *ngIf="isRecruiter"
                  (click)="openPdfInNewTab()"
                >
                  <i class="pi pi-eye text-sm"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="my-1 absolute top-0 right-0">
            <button
              type="button"
              class="mx-1 back-icon-btn"
              *ngIf="isRecruiter"
              (click)="onBtnUpdatePdf()"
            >
              <i class="pi pi-pencil text-sm"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      *ngIf="enableEditViewPdf; else pdfView"
      [formGroup]="cvForm"
      (ngSubmit)="onSveFile()"
    >
      <button type="button" class="upload-btn" (click)="fileUpload.click()">
        <i
          class="pi pi-cloud-upload px-2 pt-5 text-2xl text-bluegray-400"
          *ngIf="!cvUploaded"
        ></i>
        <i
          class="pi pi-check px-2 pt-5 text-2xl text-bluegray-400"
          *ngIf="cvUploaded"
        ></i>
        <span
          class="text-base font-bold px-3 pt-5 flex align-items-center justify-content-center btn-text"
          >{{ fileText }}</span
        >
        <span
          class="text-sm text-500 pt-1 flex align-items-center justify-content-center"
          >{{ fileDetailsText }}</span
        >
        &nbsp;
        <input
          #fileUpload
          id="file"
          type="file"
          accept=".pdf"
          style="display: none"
          formControlName="file"
          (change)="onFileUpload($event)"
        />
      </button>
      <div class="w-12 py-2">
        <small
          id="file"
          class="hidden"
          [ngClass]="{
            'p-error block text-left': isValidCvField('file')
          }"
          >Este campo no puede estar vacío.</small
        >
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideResumeDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Subir"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="contactInfoDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center w-12">
      <span class="text-lg md:text-xl font-semibold text-800">
        Métodos de Contacto
      </span>
    </div>
  </ng-template>
  <div class="w-12 flex flex-column align-items-center">
    <form
      class="w-12 flex flex-column"
      autocomplete="off"
      [formGroup]="contactInfoForm"
      (ngSubmit)="updateContactInfo()"
    >
      <div class="w-12 flex flex-column justify-content-start mb-2">
        <div class="pt-2">
          <label
            for="inputLink"
            class="block text-left mb-2 font-medium text-bluegray-800 font-medium text-bluegray-800"
            >Correo Electrónico</label
          >
          <div class="h-3rem p-inputgroup">
            <input
              pInputText
              placeholder="Correo Electrónico"
              class="w-full"
              formControlName="email"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('email') }"
              #inputEmail
              [(ngModel)]="email"
            />
            <span class="p-inputgroup-addon w-5rem pr-0"
              ><p-button
                label="Copiar"
                (click)="copyEmail(inputEmail)"
              ></p-button
            ></span>
          </div>
        </div>
        <div class="pt-2">
          <label
            for="inputLink"
            class="block text-left mb-2 font-medium text-bluegray-800 font-medium text-bluegray-800"
            >Número de Celular</label
          >
          <div class="h-3rem p-inputgroup">
            <span class="p-inputgroup-addon w-5rem pr-0">{{
              phoneNumber.split(" ")[0]
            }}</span>
            <p-inputMask
              [style]="{
                'border-radius': '0',
                'border-top-right-radius': '0.375rem',
                'border-bottom-right-radius': '0.375rem'
              }"
              class="w-full h-full"
              styleClass="w-full h-full"
              mask="999-999-999"
              placeholder="999-999-999"
              formControlName="phone"
              [ngClass]="{ 'ng-invalid ng-dirty': isValidField('phone') }"
              #inputPhone
              [(ngModel)]="phoneNumber.split(' ')[1]"
            ></p-inputMask>
            <span class="p-inputgroup-addon w-5rem pr-0"
              ><p-button
                label="Copiar"
                (click)="copyPhone(inputPhone)"
              ></p-button
            ></span>
          </div>
        </div>
      </div>
      <div class="w-12 flex flex-wrap pt-3">
        <div
          class="w-6 p-2 pl-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            class="p-button-outlined p-button-secondary w-full"
            (click)="hideContactInfoDialog()"
          ></button>
        </div>
        <div
          class="w-6 p-2 pr-0 flex align-items-center justify-content-center"
        >
          <button
            pButton
            pRipple
            label="Actualizar"
            icon="pi pi-check"
            type="submit"
            class="p-button-success w-full"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
