<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-3 sm:w-2 p-1 flex align-items-center justify-content-center">
    <p-avatar
      image="./assets/users/1.jpg"
      size="xlarge"
      shape="circle"
      (click)="openEditProfilePicture()"
    ></p-avatar>
  </div>
  <div class="w-9 sm:w-6 py-1 flex align-items-center justify-content-center">
    <div class="flex flex-column flex-wrap w-full gap-1">
      <div
        class="border-round flex align-items-center sm:justify-content-start justify-content-between"
      >
        <span class="font-semibold">Juan Lopez Martinez</span>
        <span class="custom-cursor mx-2 heart-icon">
          <i class="pi pi-heart"></i>
        </span>
      </div>
      <div class="flex flex-wrap">
        <div
          class="w-12 sm:w-4 border-round flex align-items-center justify-content-start"
        >
          <span class="profile-role text-sm">Full-stack developer</span>
        </div>
        <div
          class="w-12 sm:w-8 border-round flex align-items-center justify-content-around profile-country-salary"
        >
          <span class="text-sm">
            <i class="pi pi-map-marker" style="font-size: 0.875rem"></i>
            Lima, Peru
          </span>
          <span class="text-sm">
            <i class="pi pi-dollar" style="font-size: 0.875rem"></i>
            2500 - 3000
          </span>
          <span class="custom-cursor mx-2" (click)="openEditSalaryDialog()">
            <i class="pi pi-pencil" style="font-size: 0.875rem"></i>
          </span>
        </div>
      </div>
      <div
        class="border-round flex align-items-center sm:justify-content-start justify-content-between"
      >
        <p-rating
          [(ngModel)]="rating"
          [stars]="5"
          [cancel]="false"
          [readonly]="true"
        ></p-rating>
        <span class="mx-2 text-sm profile-feedbacks"
          >{{ rating }} feedbacks
        </span>
      </div>
    </div>
  </div>
  <div class="w-12 sm:w-4 py-1">
    <div class="flex flex-wrap align-content-evenly">
      <div
        class="w-12 border-round flex align-items-center justify-content-between mb-2 sm:mb-4"
      >
        <p-splitButton
          label="Ver CV"
          [model]="resume"
          styleClass="p-button-text p-button-info p-button-sm"
        ></p-splitButton>
        <p-button
          label="Contactar"
          icon="pi pi-phone"
          styleClass="p-button-sm p-button-success w-full"
        ></p-button>
      </div>

      <div
        class="w-12 border-round flex align-items-center justify-content-center sm:justify-content-end"
      >
        <a class="custom-cursor px-2">
          <span class="contact-icon">
            <i class="pi pi-github" style="font-size: 1.5rem"></i>
          </span>
        </a>
        <a class="custom-cursor px-2">
          <span class="contact-icon">
            <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
          </span>
        </a>
        <span
          class="custom-cursor edit-icon mx-2"
          (click)="openEditSocialMediaDialog()"
        >
          <i class="pi pi-pencil" style="font-size: 0.875rem"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="editProfilePicture"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Modifica tu foto de perfil</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Sube una nueva foto de perfil.</p>
      </div>
    </div>
  </ng-template>
  <div class="flex flex-warp align-items-center justify-content-center">
    <button
      pButton
      class="p-button-outlined border-500 w-full flex flex-column"
    >
      <i
        class="pi pi-cloud-upload px-2 pt-5"
        style="font-size: 1.5rem; color: #708090"
      ></i>
      <span
        class="px-3 pt-5 flex align-items-center justify-content-center font-bold border-round"
        style="color: #0b85c3"
        >Sube una nueva foto de perfil</span
      >
      <span
        class="text-sm text-500 pt-1 flex align-items-center justify-content-center border-round"
        >PNG o JPG (max. 800x400px)</span
      >
    </button>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideEditProfilePicture()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="editSalaryDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Modifica tu banda salarial</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega el rango de tus expectativas salariales.</p>
      </div>
    </div>
  </ng-template>
  <div>
    <div class="pb-1">
      <p-toggleButton
        onLabel="Soles"
        offLabel="Soles"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [style]="{ width: '100%' }"
      ></p-toggleButton>
    </div>
    <div class="pt-1">
      <p-toggleButton
        onLabel="Dolares"
        offLabel="Dolares"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [style]="{ width: '100%' }"
      ></p-toggleButton>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <p>Monto Inicial</p>
        <input pInputText class="w-full" />
      </div>
      <div class="field col">
        <p>Monto Final</p>
        <input pInputText class="w-full" />
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideEditSalaryDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="editSocialMediaDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Modifica tus medios sociales</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega y muestra tus medios sociales.</p>
      </div>
    </div>
  </ng-template>
  <div>
    <p>Link de LinkedIn</p>
    <input
      pInputText
      placeholder="Ingrese su link de LinkedIn"
      class="w-full"
    />
  </div>
  <div>
    <p>Link de GitHub</p>
    <input pInputText placeholder="Ingrese su link de GitHub" class="w-full" />
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideEditSocialMediaDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
