<div class="flex flex-wrap border-round m-1 sm:m-2 sm:mr-0">
  <div class="w-12 sm:w-7 p-1 flex flex-column">
    <div class="w-12 border-round-sm flex justify-content-between">
      <div class="flex align-items-center justify-content-center">
        <span class="font-semibold text-base text-600"
          >Habilidades Técnicas</span
        >
      </div>
      <div class="flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-rounded p-button-secondary p-button-text p-button-sm"
          (click)="openNewTechnicalSkillDialog()"
        ></button>
      </div>
    </div>

    <div class="border-round-sm">
      <div class="flex align-items-center flex-wrap gap-1">
        <p-chip
          *ngFor="let skill of inlineTechnicalSkills"
          [label]="skill.name"
          styleClass="custom-chip"
        ></p-chip>
      </div>
    </div>
  </div>
  <div class="w-12 sm:w-5 py-1 flex flex-column">
    <div class="w-12 border-round-sm flex justify-content-between">
      <div class="flex align-items-center justify-content-center">
        <span class="font-semibold text-base text-600"
          >Habilidades Blandas</span
        >
      </div>
      <div class="flex align-items-center justify-content-center">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-rounded p-button-secondary p-button-text p-button-sm"
          (click)="openNewSoftSkillDialog()"
        ></button>
      </div>
    </div>

    <div class="border-round-sm">
      <div class="flex align-items-center flex-wrap gap-1">
        <p-chip
          *ngFor="let skill of softSkills"
          [label]="skill.name"
          styleClass="custom-red-chip"
        ></p-chip>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="technicalSkillsDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agregar una nueva habilidad técnica</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega tu nueva experiencia técnica</p>
      </div>
    </div>
  </ng-template>
  <div>
    <p>Habilidad técnica</p>
    <input pInputText placeholder="Nombre de la habilidad" class="w-full" />
    <p>Años de experiencia</p>
    <p-inputNumber
      class="w-full"
      styleClass="w-full"
      placeholder="Nro. de años"
    ></p-inputNumber>
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewTechnicalSkillDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="softSkillsDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '650px' }"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex align-items-start justify-content-start h-3rem">
        <h2>Agregar una nueva habilidad blanda</h2>
      </div>
      <div class="flex align-items-start justify-content-start h-2rem">
        <p>Agrega tu nueva experiencia blanda</p>
      </div>
    </div>
  </ng-template>
  <div>
    <h4>Habilidad blanda</h4>
    <input pInputText placeholder="Nombre de la habilidad" class="w-full" />
  </div>
  <ng-template pTemplate="footer">
    <div class="formgrid grid">
      <div class="field col">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-outlined p-button-info w-full"
          (click)="hideNewSoftSkillDialog()"
        ></button>
      </div>
      <div class="field col">
        <button
          pButton
          pRipple
          label="Agregar"
          icon="pi pi-check"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
